.action-panel-trigger-download:before {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vflDvab3L.webp) 0px 0px;
    background-size: 419px 399px;
    height: 20px;
    width: 20px;
}
